<!-- Header bar -->

{# You can either hardcode the filename for the header, or take a value from the current
   content in 'record', or - as we do in this example - take a random one from the list
   in the /theme/foundation/theme.yml file. #}



{% if record is defined %}
{% set headerimage = image(record.image) %}
{% endif %}
{# the values in the 'config' object are taken directly from the file app/config/config.yml #}
<div class="large-12 columns headertitle">
<h2>{{ config.get('general/sitename') }}</h2>
    {% if config.get('general/payoff') %}
        <p>{{ config.get('general/payoff') }}</p>
    {% endif %}
</div>

{% if headerimage is defined and headerimage is not empty %}
	{% setcontent header = 'page/1' %}

	{% if record.image is not empty %}
		<div class="large-12 columns headerphoto" style='background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 60%, rgba(255, 255, 255, 0.5)), url({{ headerimage }})'> 
			<div class="logo-header">
				{% if record.header_img is not empty %}
					 <img src="{{ record.header_img|thumbnail(record.image, 400, 120)}}">
				{% endif %}
					{{ record.header_title }}
			</div>

		
			<div class="button-header">
				{% if record.button1_text is not empty and record.button1_link is not empty %}
					<div class="button-left"> 
						<a href="{{ record.button1_link }}"><span>{{ record.button1_text }} </span></a>
					</div>
				{% endif %}
				{% if record.button2_text is not empty and record.button2_link is not empty %}
					<div class="button-right">
						<a href="{{ record.button2_link }}"><span>{{ record.button2_text }} </span></a>
					</div>
				{% endif %}
			</div>
			
		</div>
	{% endif %}
{% endif %}

