{% set main_width = theme.layout.main_width|default(12) %}
{% set aside_width = theme.layout.aside_width|default(0) %}
<!doctype html>
<html class="no-js" lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
           sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>
            {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
                {{ config.get('general/sitename') -}}
            {% if record.title is not defined and config.get('general/payoff') %} | {{ config.get('general/payoff') }}{% endif -%}
        </title>
        <link rel="stylesheet" href="{{ asset('css/foundation.css', 'theme') }}">
        <link rel="stylesheet" href="{{ asset('css/theme.css', 'theme') }}">
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans:700,700italic' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
        {% block headincludes %}
        {% endblock headincludes %}
    </head>
    <body>

        {% block body %}

            {% if theme.layout.variant != 'wide' %}
                <div class="row">
            {% endif %}

            {{ include('partials/_menubar.twig') }} 
            {{ include('partials/_header.twig') }} 
               
               
                    {% if block("timer") is defined %}
                       {% block timer %}
                       {% endblock timer %}
                    {% endif %}

                    
                       <div class="large-12 columns">
                            {% if block("kosten") is defined %}
                              {% block kosten %}
                              {% endblock kosten %}
                            {% endif %}
                        </div>
                


                 
          


            {% if theme.layout.variant != 'wide' %}
                </div>
            {% endif %}

           
         

            
            <div class="{% if theme.layout.aside not in ['left', 'right'] %}large-centered{% endif %} large-{{ main_width }} columns">

                     {% if theme.layout.aside == "left" %}
                    {{ include('partials/_aside.twig') }}
                     {% endif %}

                    {{ widgets('main_top') }}



                    {% block main %}
                    {% endblock main %}

                    
                    {{ widgets('main_bottom') }}
                 </div>

                {% if theme.layout.aside == "right" %}
                    {{ include('partials/_aside.twig') }}
                {% endif %}

            
            <div class="large-12 columns">
                 {% if block("trending") is defined %}
                       {% block trending %}
                       {% endblock trending %}
                    {% endif %}
            </div>


              <div class="large-12 columns">
                 {% if block("blogs") is defined %}
                       {% block blogs %}
                       {% endblock blogs %}
                    {% endif %}
            </div>

             <div class="large-12 columns">
                 {% if block("sponsoren") is defined %}
                       {% block sponsoren %}
                       {% endblock sponsoren %}
                    {% endif %}
            </div>

              <div class="large-12 columns">
                 {% if block("mijnuploads") is defined %}
                       {% block mijnuploads %}
                       {% endblock mijnuploads %}
                    {% endif %}
            </div>

        {% endblock body %}

         <div class="large-12 columns">
        {{ include('partials/_footer.twig') }}
       </div>
       
        {% block bottomincludes %}
        {% endblock bottomincludes %}
    </body>
</html>
